<!DOCTYPE HTML>
<html lang="fr">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <title>Document</title>
  {% block stylesheets %}
    <style>
        body {
            margin: 0;
        }

        .footer {
            padding: 1rem;
        }
    </style>
  {% endblock %}
</head>
<body>
<div class="footer">
  <p>Copyright © 2023 Gusteau's</p>
</div>
</body>
</html>