{% extends 'admin.html.twig' %}

{% block title %}New ClientOrder{% endblock %}

{% block content %}
    <h1>Create new ClientOrder</h1>

    {{ include('client_order/_form.html.twig') }}

    <a href="{{ path('app_client_order_index') }}">back to list</a>
{% endblock %}
