{% extends 'admin.html.twig' %}

{% block title %}Employé{% endblock %}

{% block content %}
  <div>
    {% if app.user %}
      <h1>Bienvenue {{ app.user.username }}</h1>
    {% endif %}
    <ul>
      <li><a href="/order">Commandes</a></li>
    </ul>

    {% if app.user %}
      <a href="{{ path('app_logout') }}">Déconnexion</a>
    {% endif %}
  </div>
{% endblock %}
